@charset "UTF-8";

body {
	background: linear-gradient(450deg, rgba(238, 178, 37, 0.475),
		rgba(247, 0, 0, 0.553));
}

.login {
	width: 600px;
	height: 400px;
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	position: absolute;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -200px;
	display: flex;
	/* 采用 Flex 布局的元素，称为 Flex 容器（flex container），简称"容器"。它的所有子元素自动成为容器成员，称为 Flex 项目（flex item），简称"项目"。 */
}

.left {
	width: 200px;
	height: 400px;
	opacity: 90%;
	background: url("../Images/宵宫.png") no-repeat -240px 0px;
	border-radius: 10px 0px 0px 10px;
}

.right {
	width: 400px;
	height: 400px;
	background: var(body);
	display: flex;
	flex-direction: column;
	align-content: center;
}

.right h1 {
	margin-top: 20px;
	text-align: center;
	font-family: 微软雅黑light;
}

.right .userinfo {
	position:relative;
	left:4%;
	width: 280px;
	height: 20px;
	padding: 10px;
	margin: 30px 30px;
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.505);
	font-size: 15px;
	font-family: 微软雅黑light;
	outline: none;
}

.right .submit {
	position:relative;
	left:6%;
	width: 200px;
	height: 40px;
	background: linear-gradient(150deg, rgb(222, 211, 150),
		rgba(228, 67, 67, 0.685));
	transform: translateX(75px);
	margin-top: 10px;
	align-self: center;
	border-radius: 5px;
	border: none; /*消去边框*/
	font-size: 20px;
	font-family: 微软雅黑light;
	color: rgb(255, 255, 255);
	cursor: pointer; /*鼠标移上去会成点击形状*/
	box-shadow: 1px 1px 10px rgb(69, 70, 70);
}

.right .submit:hover {
	opacity: 80%;
	box-shadow: 1px 1px 2px rgb(69, 70, 70);
}

.help {
	position:relative;
	left:70%;
	width: 100px;
	display: flex;
	margin-top: 30px;
	margin-left: 30px;
	justify-content: space-between;
	
}

.help a {
	color: rgba(254, 238, 238, 0.461);
	text-decoration: none;
}

.help a:hover {
	color: rgb(255, 255, 255);
}